<h2>One Line At a Time</h2>
<p>Student, Geek, Rubyist, Fledgling Elixir and Python Programmer, Hardware Hacker, Physics Freak. All about mathematics, science, programming and sketching! </p>

<h2>./Includes</h2>
<ul>
		<li><a href="{{ "/blog" | prepend: site.baseurl}}">Blog</a>
		<li><a href="{{ "/blog/archives" | prepend: site.baseurl }}">Blog Archives</a></li>
		<li><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
		<li><a href="http://resume.tworitdash.in">Resume</a></li>
		<li><a href="http://blog.tworitdash.in/">Alter Ego</a></li>
		


<p></p>

<hr />

<ul class="fa-ul main-list">
	<li class="main-list-item">
		<span class="fa fa-github fa-lg main-list-item-icon"></span>
		<a href="http://github.com/tworitdash">@tworitdash</a>
	</li>
	<li class="main-list-item">
		<span class="fa fa-twitter fa-lg main-list-item-icon"></span>
		<a href="http://twitter.com/tworitdash/">@tworitdash</a>
	</li>
	<li class="main-list-item">
		<span class="fa fa-facebook fa-lg main-list-item-icon"></span>
		<a href="http://facebook.com/tworit.dash/">Tworit Dash</a>
	</li>
	<li class="main-list-item">
		<span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
		<a href="https://www.linkedin.com/in/tworit-kumar-dash-0074907a/">Tworit Kumar Dash</a>
	</li>
</ul>
